Pada sesi ini akan dibahas materi mengenai struktur data sederhana dalam python, yaitu:
* Tuple
* List
* Set
* Dictionary

Lebih detailnya, pada sesi ini akan dijelaskan apa itu struktur data, operasi apa yang dapat dilakukan, serta cara menggunakan struktur data yang tepat. Selain itu akan dijelaskan juga mengenai konsep mutability, cloning, dan aliasing.

---
# Struktur Data
Tipe data berupa:
* Float dan integer (angka)
* String (teks)

Hanya berlaku untuk satu data. Bagaimana kalau kita punya 10 kumpulan angka?

Untuk mengorganisir kumpulan dari data, digunakan **struktur data**

Secara formal, ide utama dari **struktur data** adalah:
* Cara penyimpanan, penyusunan, atau pengaturan data.
* Bertujuan agar data dapat digunakan secara efisien

---
# List dan Tuple
Di dalam Python, 2 jenis struktur data yang paling sederhana adalah Tuple dan List.

---
## Tuple

* Tuple merupakan sebuah struktur data yang dapat terdiri dari beberapa elemen yang memiliki urutan. 
* Tuple pada Python direpresentasikan dengan tanda kurung `()`.

In [ ]:
simple_tuple = ("apple", "orange", "mango")

urutan_1 = simple_tuple[0]
urutan_2 = simple_tuple[1]
urutan_3 = simple_tuple[2]

print(urutan_2)

* Tiap elemen dalam tuple dapat memiliki tipe data yang berbeda.

In [ ]:
tuple_minuman = ("es teh",2,"jus tomat",1)
print(tuple_minuman[0])

* Tuple yang terdiri dari satu nilai akan memiliki tambahan tanda koma sebelum tanda kurung tutup `,)`.

In [ ]:
ini_tuple = (6,)    # Tuple dengan 1 elemen
ini_bukan_tuple = (9)    # Bukan tuple

Mari kita coba cek tipenya

In [ ]:
type(ini_tuple)

In [ ]:
type(ini_bukan_tuple)

---
**Exercise**

In [ ]:
# Coba buat tuple yang berisi 3 makanan favorit anda
mafa = ('sate','nasgor','bakwan')

In [ ]:
type(mafa)

---
## List

* List merupakan struktur data yang sangat mirip dengan tuple, di mana list dapat memiliki banyak elemen dengan urutan.
* Sebuah list dalam python direpresentasikan dengan tanda kurung siku `[]`.

In [ ]:
FirstList = []    # list kosong
SecondList = [5,4,6,2,3]    # list dengan beberapa elemen
ThirdList = [8]    # list dengan satu elemen

* Sama seperti tuple, list dapat memiliki berbagai tipe didalamnya.
* Namun, pada praktek umumnya sebuah list terdiri atas satu tipe elemen saja.

In [ ]:
list_beda = [2,'paperclips',3,'pencils']
list_sama = ['tepung','gula','garam','telur']

Perbedaan kunci list dengan tuple adalah karakteristik list yang **MUTABLE**, di mana nilai elemen dalam list dapat diubah

In [ ]:
ini_tuple = (1,3,5,7)
ini_list = [1,3,5,7]

In [ ]:
ini_tuple[0] = 25
ini_tuple

In [ ]:
ini_list[0] = 25
ini_list

---
## Penggunaan List dan Tuple
* Secara umum, penggunaan tuple di Python cukup jarang.
* Namun, tuple merupakan tipe struktur data yang paling cepat dalam segi waktu pemrosesan.
* Tuple biasanya digunakan ketika perlu menyimpan data konstan yang tidak diubah.
* Penggunaan lainnya adalah pada fungsi yang mengembalikan 2 elemen atau lebih.<br>
* Sehingga, pada prakteknya untuk kebutuhan struktur data sederhana sering digunakan list.

Berikut contoh fungsi yang menghitung hasil bagi dan sisa dari 2 angka input

In [ ]:
def bagi_sisa(x,y):
    b = x // y    # hitung hasil bagi
    s = x % y     # hitung sisa
    return (b,s)

In [ ]:
bagi_sisa(21,5)

---
## Operasi pada Struktur Data
* Operasi antara tuple dan list sangat mirip
* Diberikan contoh pada list saja.

---
## Mengakses Elemen List

---
### Indexing dan Slicing
* Sama seperti tuple, elemen pada list dapat diakses dengan menggunakan indeks.

In [69]:
List_1 = [3,10,4,9,5,8,6,7]
List_1[1]

10

* Untuk *slicing*, operasi yang dilakukan juga sama

In [70]:
List_1[3:6] # mengambil indeks 3 sampai indeks 5

[9, 5, 8]

In [71]:
List_1[-6:-2] # mengambil data ke-6 dari belakang sampai ke-3 dari belakang

[4, 9, 5, 8]

---
**Exercise**

In [ ]:
# Ambillah indeks ke-7 dari belakang sampai ke-2 dari belakang pada list berikut
list_2 = [1,1,2,3,5,8,13,21,34,55]

print(list_2[-7:])
print(list_2[-2:])

---
### Unpacking
* Unpacking bisa dilakukan pada list.
* Namun, untuk program yang kompleks hal ini tidak direkomendasikan.

In [ ]:
a,b,c = [1,3,5]
print(a)
print(b)
print(c)

Contoh error karena ruas kiri dan kanan tidak sama

In [ ]:
list_1 = [2,4,6,8]
a,b = list_1

**Exercise**

In [ ]:
# Unpack list berikut kedalam 4 variabel berbeda
snack = ["sandwich","cake","biscuit","chip"]
makanan1 = snack[0]
makanan2 = snack[1]
makanan3 = snack[2]
makanan4 = snack[3]
print(makanan1)
print(makanan2)
print(makanan3)
print(makanan4)

---
### Looping
* Untuk mengakses elemen di dalam list juga bisa digunakan looping, sama halnya dengan tuple.

In [72]:
list_minuman =["STMJ","Kopi","Teh","Bandrek"]
for i in list_minuman:
    print(i)

STMJ
Kopi
Teh
Bandrek

In [ ]:
for indeks, elemen in enumerate(list_minuman):
    print('Indeks: {}, Elemen: {}'.format(indeks,elemen))

---
## Operasi Dasar List

### Penambahan, Pengulangan, Cek Elemen
List dapat melakukan operasi dasar yang dilakukan pada tuple seperti:
* Menambahkan list

In [73]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

**Exercise**

In [74]:
# Tambahkan kedua list berikut
a = [3,4,5]
b = [11,10,9]

a + b

[3, 4, 5, 11, 10, 9]

---
* Pengulangan dengan perkalian

In [ ]:
["halo","hello","hola"]*3

---
* Mengecek elemen di dalam list

In [75]:
print( 2 in [1,2,4] )
print( 'halo' in ['halo','apa','kabar'] )

True
True

---
### Operasi karena mutabilitas

Karena sifatnya yang mutable, elemen dalam sebuah list dapat dengan mudah diubah, ditambah, maupun dikurangi.

Berikut beberapa operasi dasar lain yang dapat dilakukan pada list:

---
#### Mengganti elemen

In [ ]:
NewList = [5,6,7,8,9,6]
NewList[2] = 999    # ubah nilai elemen pada indeks 2
NewList

In [ ]:
# Gantilah elemen ketiga pada list ini dengan 30
list_1 = [5,7,2,6,1,0]
list_1[3] = 30
list_1

---
#### Menambahkan elemen baru pada list
* Untuk menambahkan elemen baru dapat digunakan `.append()` : Menambahkan 1 elemen dibelakang.
* Selain itu bisa juga digunakan `.extend()`: Menambahkan banyak elemen di belakang.
* Atau juga dapat digunakan `.insert()`: Menambahkan elemen di posisi tertentu

In [ ]:
NewList = [5,6,7,8,9,6]
NewList.append(123)    # tambah satu elemen baru ke list
NewList

In [ ]:
ListOne = ['halo','apa','kabar']
ListTwo = ['kabar','saya','baik']
ListTwo.extend(ListOne)    # Menambahkan elemen pada list lain (ListTwo) ke dirinya sendiri (ListOne)
ListTwo

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits

**Exercise**

In [ ]:
# Tambahkan list berikut dengan angka 10
list_1 = [1,4,5,7,8]
list_1.insert(1, 10)

In [ ]:
list_1

In [81]:
# Extend list pertama dengan list kedua
list_pertama = [1,1,2,3,5]
list_kedua = [8,13,21,34,55,89]
list_pertama + list_kedua

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

---
#### Menghapus elemen dari list

* Cara pertama untuk menghapus elemen dari list adalah dengan menggunakan `.remove()`
* Cara ini akan menghapus nilai elemen pertama yang bernilai di dalam `.remove()`.

In [ ]:
NewList = [5,6,7,8,9,6]
NewList.remove(8)    # menghapus elemen bernilai 8 yang pertama
NewList

Apa yang terjadi jika elemen tidak ada?

In [ ]:
sample_list = [1,2,3,4]
sample_list.remove(7)
sample_list

In [ ]:
# Hapus elemen bernilai 3 pada list berikut
list_1 = [7,3,5,6]
del(list_1[3])

list_1

---
* Cara kedua adalah dengan menggunakan `del()`
* Cara ini biasanya digunakan ketika kita mengetahui indeks yang akan dihapus.

In [ ]:
NewList = [5,6,7,8,9,6]
del(NewList[1:4])    # menghapus elemen pada indeks 1,2,3
NewList

In [ ]:
# Hapuslah elemen keempat pada list berikut
list_1 = [2,4,6,8,10,12]
del(list_1[4])

In [ ]:
list_1

---
* Cara ketiga adalah dengan menggunakan `.pop()`
* Secara default, `.pop()` mengambil nilai dari elemen terakhir.
* Namun, bisa juga dispesifikasikan lokasi yang diambil

In [ ]:
NewList = [5,6,7,8,9,6]
print('List before',NewList)
LastEl = NewList.pop()    # mengambil elemen terakhir sekaligus menghapus elemen tersebut dari list
print('last element:', LastEl)
print('List after', NewList)

In [ ]:
NewList = [5,6,7,8,9,6]
print('List before',NewList)
LastEl = NewList.pop(2)    # mengambil elemen yang dengan index dan menghapus elemen tersebut dari list
print('last element:', LastEl)
print('List after', NewList)

---
#### Operasi lainnya
* Masih banyak operasi-operasi lainnya.
* Namun, tidak akan cukup jika dibahas satu per satu.

---
### Nested List
* Nested list adalah istilah keren dari list di dalam list.
* Teknik ini akan sangat berguna untuk mengolah data yang kompleks.
* Salah satu aplikasi yang paling jelas adalah untuk matriks.

contoh: $A = \begin{bmatrix} 5&4 \\ 4&5 \end{bmatrix}$

Penerapan dalam nested list adalah sebagai berikut:

In [ ]:
b = [[]]
len(b)

In [ ]:
a = [[5,4],[4,5]]
a

* Untuk mengakses elemen pada nested list dapat dilakukan sebagai berikut:

In [ ]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
elemen_kiri_atas = nested_list[0][0]
dua_elemen_kanan_bawah = nested_list[2][1:3]
elemen_tengah_semua = nested_list[1]
print(nested_list)
print("elemen kiri atas: ", elemen_kiri_atas)
print("dua elemen kanan bawah: ", dua_elemen_kanan_bawah)
print("semua elemen tengah: ", elemen_tengah_semua)

In [ ]:
list = [[1,2,3],[7,8,9]]
list[1][1]

* Operasi lainnya sama seperti list biasa.
* Hanya saja anda bisa mengakses list di dalam list.
* Untuk looping dari nested list, bisa digunakan nested loop

In [ ]:
nested_list

In [ ]:
for row in range(len(nested_list)):
    for col in range(len(nested_list[row
                                     ])):
        print(f'Baris {row+1} kolom {col+1} adalah {nested_list[row][col]}')

---
### List Comprehension

* Python menyediakan teknik *List Comprehension* agar pengolahan list bisa lebih efisien. 
* *List Comprehension* terdiri dari ekspresi yang diikuti oleh penyataan `for` didalam tanda kurung kotak `[]`. 
* List comprehension bertujuan mempermudah iterasi terhadap list, sekaligus membuat kode kita lebih rapi dan elegan.

#### Dasar
Contoh <i>List Comprehension</i>

In [88]:
BaseList = [1,2,3,4,5,6,7,8,9,10,11,12]
C_List = [x for x in BaseList]    # list comprehension
C_List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

<i>List Comprehension</i> diatas sama dengan penyataan `for` dibawah

In [89]:
BaseList = [1,2,3,4,5,6,7,8,9,10,11,12]
C_List = []
for x in BaseList:
    C_List.append(x)
C_List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [90]:
# Ubahlah pernyataan dibawah ini menjadi list comprehension
list_1 = [1,4,9,25,36]
list_2 = []
for value in list_1:
    list_2.append(value/3)
list_2

[0.3333333333333333, 1.3333333333333333, 3.0, 8.333333333333334, 12.0]

In [91]:
list_2 = [x/3 for x in list_1]

In [92]:
list_2

[0.3333333333333333, 1.3333333333333333, 3.0, 8.333333333333334, 12.0]

#### Penambahan conditional

* Kita dapat membuat ekspresi yang lebih kompleks pada sebuah list comprehension. 
* Sebagai contoh, dapat ditambahkan pernyataan if untuk melakukan filtering terhadap `BaseList`.
* `C2_List` akan menghasilkan perkalian dua dari angka genap.

In [112]:
BaseList = [1,2,3,4,5,6,7,8,9,10,11,12]
C2_List = [x * 2 for x in BaseList]    # list comprehension dengan operasi *2 pada ekspresi dan pernyataan if setelah for
C2_List

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [113]:
BaseList = [1,2,3,4,5,6,7,8,9,10,11,12]
C2_List = [x * 2 for x in BaseList if x % 2 == 0]    # list comprehension dengan operasi *2 pada ekspresi dan pernyataan if setelah for
C2_List

[4, 8, 12, 16, 20, 24]

<i>List Comprehension</i> diatas sama dengan penyataan `for` dibawah

In [ ]:
C2_List = []
for x in BaseList:
    if x % 2 == 0:
        C2_List.append(x * 2)
C2_List

In [ ]:
# Ubahlan pernyataan for dibawah menjadi list comprehension
list_1 = [1,4,9,25,36,49,64,81,100,121,144]
list_2 = []
for value in list_1:
    if value < 50:
        list_2.append(value / 3)
list_2

#### List comprehension untuk nested.
List comprehension membuat code list dengan struktur kompleks menjadi lebih sederhana, misalnya pada Nested list dibawah

In [115]:
NestedList = []     # nested list = list di dalam list
for i in range(3):
    InsideList = []
    for j in range(i,i+5):
        InsideList.append(j)
    NestedList.append(InsideList)
NestedList

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

<i>List Comprehension</i> dari Nested list diatas dapat dibuat menjadi:

In [116]:
NestedList = [[x for x in range(y,y+5)] for y in range(3)]    
NestedList

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6]]

List Comprehension juga dapat digunakan untuk mengambil elemen dengan indeks tertentu pada nested list

In [117]:
AnotherList = [[x[-1],x[0]] for x in NestedList]
AnotherList

[[4, 0], [5, 1], [6, 2]]