---
# Set

- Set merupakan struktur data yang dapat memiliki beberapa elemen
- Elemen dalam sebuah set tidak disimpan berdasar urutan
- Elemen dalam set dapat terdiri dari beberapa tipe berbeda
- Set bersifat mutable, elemen dapat ditambah dan dikurangi
- Set direpresentasikan dengan tanda `{}`

In [56]:
simple_set = {'jakarta','bandung',1}
simple_set

{1, 'bandung', 'jakarta'}

- Elemen dalam sebuah set tidak memiliki duplikat

In [ ]:
simple_set_2 = {1, 2, 1}
simple_set_2

- Elemen pada set harus bersifat immutable

In [ ]:
simple_set_3 = {1, 2, [1,2,3]}    # Error karena list bersifat mutable

- Set kosong dibuat dengan memanggil fungsi `set()`
- tanda `{}` akan menghasilkan dictionary, bukan set

In [ ]:
empty_set = set()
type(empty_set)

In [ ]:
not_a_set = {}
type(not_a_set)

---
## Operasi Dasar Pada Set

### Menambah Elemen Baru

Untuk menambah elemen pada set kita dapat menggunakan perintah `add()`

In [ ]:
basic_set = {1,2,3}
basic_set.add(5)
basic_set

**Exercise**

In [83]:
# tambahkan 2 hewan lagi
animal_set = {'anjing','kucing','kuda'}
animal_set.add('naga')
animal_set.add('kaido')
animal_set

{'anjing', 'kaido', 'kucing', 'kuda', 'naga'}

---

### Menghapus elemen

Untuk mengurangi elemen pada list, ada 2 perintah yang dapat kita gunakan:
- `remove()`
- `discard()`

In [ ]:
set_ = {1,1,2,3,(4,5)}

In [ ]:
set_

In [ ]:
basic_set = {1,2,3,4,5}
basic_set.remove(5)
basic_set.discard(8)
basic_set

Kelebihan jika menggunakan discard adalah tidak ada error jika elemen yang ingin dihilangkan tidak ada pada set

In [ ]:
basic_set = {1,2,3,4,5}
basic_set.remove(7)    # Error karena 7 tidak ada pada set

In [ ]:
basic_set = {1,2,3,4,5}
basic_set.discard(7)    # Tidak ada error

## Operasi Himpunan

#### Difference

Fungsi `diffence()` digunakan untuk menghasilkan set baru yang terdiri dari elemen yang tidak ada pada set lain

In [88]:
x_set = {1,2,3,4}
y_set = {3,4,5,6,7}

y_set.difference(x_set)

{5, 6, 7}

#### Intersection

Fungsi `intesection()` digunakan untuk menghasilkan set baru yang berisi elemen yang sama dari kedua set

In [89]:
x_set = {1,2,3,4}
y_set = {3,4,5,6,7}

x_set.intersection(y_set)

{3, 4}

#### Union

Fungsi `union()` digunakan untuk menghasilkan set yang merupakan menggabungkan dari kedua set

In [90]:
x_set = {1,2,3,4}
y_set = {3,4,5,6,7}

x_set.union(y_set)

{1, 2, 3, 4, 5, 6, 7}

####  Fungsi lain

- `issubset()` mengecek apakah merupakan subset dari set lain
- `isdisjoint()` mengecek apakah tidak ada elemen yang sama pada kedua set
- `issuperset()` mengecek apakah set mengandung semua elemen set lain

In [103]:
x_set = {3,4,5,6,8,9,10,11}
y_set = {3,4}
z_set = {8,9,10}

print(x_set.issubset(y_set))
print(x_set.isdisjoint(z_set))
print(x_set.issuperset(z_set))

False
False
True

In [ ]:
one_set = {1,2,3,4,5,6,7}
two_set = {1,2,3,5,8,13}

---
## Contoh Kegunaan Set

* Set merupakan struktur data yang memiliki elemen unik.
* Sehingga sifat ini sering dimanfaatkan untuk mendapatkan elemen unik dari suatu struktur data.

Contoh:

In [104]:
list_1 = [1,3,2,1,5,3,2,6,2,3,4,7,8,9,2,4,7,1,3,8,2,9]
list_1

[1, 3, 2, 1, 5, 3, 2, 6, 2, 3, 4, 7, 8, 9, 2, 4, 7, 1, 3, 8, 2, 9]

* Untuk mendapatkan elemen unik maka:

In [105]:
set_1 = set(list_1)
set_1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

* Lalu bisa kita kembalikan lagi ke dalam list

In [106]:
list_1 = list(set_1)
list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

- Dictionary merupakan struktur data mirip list, namun tiap elemen terdiri dari sepasang key dan value
- Key dan value tiap elemen dipisahkan dengan tanda `:`
- Dictionary direpresentasikan dengan tanda `{}`

In [ ]:
first_dict = {}    # dictionary kosong
second_dict = {"Nama": "Adam", "Umur": 25}    # dictionary dengan 2 elemen

- Key pada elemen dict tidak memiliki duplikat, value bisa memiliki duplikat

In [34]:
simple_dict = {1:"kucing", 2:"anjing", 1:"anjing"}    # key 1 memiliki value terakhir
simple_dict

{1: 'anjing', 2: 'anjing'}

 - baik key maupun value pada dict bisa memiliki tipe berbeda

In [ ]:
third_dict = {1:2, "kota":"jakarta", 2:"surabaya", "bali": 4}
third_dict

- key pada dict harus bersifat immutable

In [ ]:
fourth_dict = {[1,2]:1}    # Error karena key berupa list

In [ ]:
fourth_dict = {(1,2):1}
fourth_dict

- value pada dict bisa bersifat mutable

In [35]:
fifth_dict = {1:[2,3,4,5], 2:{"nama":"adam"}}
fifth_dict

{1: [2, 3, 4, 5], 2: {'nama': 'adam'}}

**Exercise**

In [108]:
# Buatlah sebuah dictionary dengan key nama buah dan value warnanya

macam_buah = {'mangga': 'manis', 'jeruk': 'manis', 'apel': 'asam'}
macam_buah['mangga']

'manis'

## Mengakses Elemen Dictionary

### Keys

- Elemen pada dictionary dapat diakses menggunakan key dari elemen tersebut dan akan mengembalikan value elemen.
- Elemen tidak dapat diakses menggunakan indeks.
- Jika indeks key tidak ada pada dictionary, akan menghasilkan error
- fungsi `get()` dapat digunakan untuk menghindari error

In [53]:
x_dict = {"Nama": "Tejo", "Umur": 25}
print(x_dict["Umur"])
print(x_dict.get("Umur"))    # return None karena tidak ada elemen dengan key Alamat, tidak error
print(x_dict["Alamat"])    # Error karena tidak ada elemen dengan key Alamat

25
25

KeyError: 'Alamat'

**Exercise**

In [109]:
# print value dari key Umur pada x_dict

x_dict['Umur']

25

---
### Mengecek key
Untuk mengecek apakah key yang ingin kita akses ada pada dictionary, kita bisa menggunakan statemen `in`.

In [40]:
print('Alamat' in x_dict)
print('Nama' in x_dict)

False
True

**Exercise**

In [110]:
# cek apakah ada kunci Umur pada x_dict

print('Umur' in x_dict)

True

In [111]:
tanaman = {"pisang": "kuning", "wortel": "oranye", "bayam": "hijau"}
print('kangkung' in tanaman)
# cek apakah kangkung ada di dalam dictionary tanaman

False

---
### Looping

Ada 2 cara yang biasa digunakan untuk melakukan iterasi pada dictionary, yaitu:
- looping menggunakan statement `in`

In [112]:
x_dict = {"Nama": ["Adam","Bambang","Tommy"], "Umur": 25}

for x in x_dict:
    print("key:", x, "value:", x_dict[x])

key: Nama value: ['Adam', 'Bambang', 'Tommy']
key: Umur value: 25

In [114]:
x_dict["Nama"][1:4]

['Bambang', 'Tommy']

- looping tuple (key,value) dari dari fungsi `items()`. fungsi items mengembalikan semua elemen sebagai tuple (key,value)

In [119]:
x_dict = {"Nama": "Adam", "Umur": 25}

for key,value in x_dict.items():
    print("key:", key, "value:", value)

key: Nama value: Adam
key: Umur value: 25

**Exercise**

In [144]:
y_dict = {"pisang": "kuning", "wortel": "merah", "bayam": "hijau"}

for key,value in y_dict.items():
  print(value)
# print semua warna yang ada pada y_dict

kuning
merah
hijau

In [147]:
kendaraan = {"mobil":"merah", "motor":"hijau", "pesawat":"putih", "kapal":"hitam"}

for key, value in kendaraan.items():
  print(key)
# print semua nama kendaraan yang ada di dalam kendaraan

mobil
motor
pesawat
kapal

## Operasi Dasar Dictionary

#### Menambah Elemen Baru

Untuk menambah elemen baru, kita cukup memberi indeks key baru dan menetapkan nilainya

In [151]:

kendaraan = {"mobil":"merah", "motor":"hijau", "pesawat":"putih", "kapal":"hitam"}
kendaraan["sepeda"] = "hijau"

print(kendaraan)
#type(kendaraan)

{'mobil': 'merah', 'motor': 'hijau', 'pesawat': 'putih', 'kapal': 'hitam', 'sepeda': 'hijau'}

#### Menghapus Elemen

Untuk menghapus elemen pada dict, kita dapat menggunakan fungsi `pop()`. perlu diperhatikan bahwa fungsi `pop()` akan menghasilkan error ketika key tidak ada dalam list

In [44]:
new_list = {"pisang": "kuning", "wortel": "merah", "bayam": "hijau"}
new_list.pop("pisang")
new_list

{'wortel': 'merah', 'bayam': 'hijau'}

In [45]:
new_list.pop("kucing")    # error karena key kucing tidak ada dalam dictionary

KeyError: 'kucing'

#### Mengubah Nilai Dari Suatu Key

Untuk mengubah nilai suatu key, kita cukup mengakses indeks key dan memberi nilai baru

In [47]:
new_list = {"pisang": "kuning", "wortel": "merah", "bayam": "hijau"}
new_list["wortel"] = "warna"
new_list

{'pisang': 'kuning', 'wortel': 'warna', 'bayam': 'hijau'}

Perlu diperhatikan bahwa cara mengubah nilai key dan cara memberi key baru memiliki sintaks penulisan yang sama. Maka dari itu, ada baiknya kita melakukan pengecekan sebelum memberi mengubah nilai elemen

In [48]:
new_list = {"pisang": "kuning", "wortel": "merah", "bayam": "hijau"}

if "wortel" not in new_list:
    new_list["wortel"] = "oranye"
    
if "kangkung" not in new_list:
    new_list["kangkung"] = "hijau"
    
new_list

{'pisang': 'kuning', 'wortel': 'merah', 'bayam': 'hijau', 'kangkung': 'hijau'}

In [49]:
new_list["wortel"] = "oranye"

In [ ]:
new_list

---
**Exercise**

In [164]:
tanaman = {"pisang": "kuning", "wortel": "oranye", "bayam": "hijau"}
# tambahkanlah sawi: hijau dan tomat:merah kedalam dictionary

tanaman['sawi'] = 'hijau'
tanaman['tomat'] = 'merah'
print(tanaman)

{'pisang': 'kuning', 'wortel': 'oranye', 'bayam': 'hijau', 'sawi': 'hijau', 'tomat': 'merah'}

In [165]:
mobil = {'merk': 'toyota', 'model':'avanza', 'tahun':2014, 'warna':'silver'}
#ubahlah warna di menjadi hitam

mobil['warna'] = 'hitam'
print(mobil)

{'merk': 'toyota', 'model': 'avanza', 'tahun': 2014, 'warna': 'hitam'}

---
## Nested Dictionary

Layaknya struktur data yang lain, `dictionary` juga dapat berbentuk *nested*.

contoh:

In [174]:
mobil = {'avanza':{'merk':'toyota','penumpang':7,'warna':'putih'}, 'xpander':{'merk':'mitsubishi','penumpang':7,'warna':'hitam'}}
mobil

{'avanza': {'merk': 'toyota', 'penumpang': 7, 'warna': 'putih'},
 'xpander': {'merk': 'mitsubishi', 'penumpang': 7, 'warna': 'hitam'}}

Untuk mengakses merk dapat dilakukan hal berikut:

In [175]:
mobil['xpander']['merk']

'mitsubishi'

---
Di dalam `dictionary` kita juga bisa memasukkan tipe data lainnya:

In [ ]:
angka = {'semua':[1,2,3,4,5], 'ganjil':[1,3,5], 'genap':[2,4]}
angka

Untuk mengakses elemen ke-2 dari angka ganjil maka

In [ ]:
angka['ganjil'][1]

---
**Exercise**

In [168]:
angka = {'semua':[1,2,3,4,5], 'ganjil':[1,3,5], 'genap':[2,4], 'fibonacci':[1,1,2,3,5,8,13]}
# Coba akses tiga angka terakhir dari fibonacci

angka['fibonacci'][4:7]

[5, 8, 13]

## Penggunaan Dictionary

Dictionary banyak digunakan untuk merepresentasikan struktur data yang cukup kompleks dikombinasikan dengan list dan tuples.

Contoh adalah menyimpan nilai murid dalam suatu kelas, kita dapat menggunakan list dan tuple saja, tapi menggunakan dictionary akan mempermudah kita dalam memahami data

In [170]:
data_murid = {"Ana":{"nilai": {"matematika":80, "biologi":60}, "kelas":"6A", "prestasi":["juara kelas"]}, "Doni":{"nilai": {"matematika":66, "biologi":98}, "kelas":"6D", "prestasi":["olimpiade biologi"]}}
data_murid

{'Ana': {'nilai': {'matematika': 80, 'biologi': 60},
  'kelas': '6A',
  'prestasi': ['juara kelas']},
 'Doni': {'nilai': {'matematika': 66, 'biologi': 98},
  'kelas': '6D',
  'prestasi': ['olimpiade biologi']}}

Jika kita ingin mengetahui nilai matematika Doni, kita dapat menggunakan key sebagai berikut:

In [ ]:
data_murid["Doni"]["nilai"]["matematika"]

---
**Exercise**

In [171]:
# Tampilkan nilai matematika dan biologi ana

data_murid['Ana']['nilai']

{'matematika': 80, 'biologi': 60}

In [172]:
for mapel in data_murid['Ana']['nilai']:
    print(f"Nilai {mapel} : {data_murid['Ana']['nilai'][mapel]}")

Nilai matematika : 80
Nilai biologi : 60

In [176]:
# Tampilkan prestasi Ana 

data_murid['Ana']['prestasi']

['juara kelas']

In [ ]:
print(data_murid['Ana']['prestasi'])