# Menulis file

## CSV
* Selain membaca file, pandas juga dapat menulis file.
* Hal ini akan sangat berguna ketika kita ingin menyimpan data yang telah diolah/dibersihkan.
* Untuk membuat file `csv` dari Series atau dataframe, kita dapat menggunakan method `to_csv`
* Sintaks dasar dari method tersebut adalah: `<Series/DataFrame object>.to_csv(<path>, <arguments>)`
* Sebelum itu, kita persiapkan data dummy terlebih dahulu
* Kita asumsikan data ini adalah data hasil pengolahan di dalam pandas.

In [2]:
import pandas as pd

In [3]:
table = pd.DataFrame({'Usia':[27,28,29,29,22,25,25,27,26,30],
                     'Pekerjaan':['Aktor','Aktor','Penyanyi','Penari','Aktor','Aktris','Penyanyi','Penyanyi','Aktris','Aktor'],
                     'Asal':['Blok C','Blok D','Blok A','Blok D','Blok A','Blok B','Blok C','Blok C','Blok A','Blok C'],
                     'Member':['Gold','Gold','Gold','Platinum','Gold','Silver','Gold','Gold','Silver','Gold'],
                     'Status':['Diterima','Diterima','Diterima','Diterima','Diterima','Ditolak','Diterima','Diterima','Diterima','Ditolak']},
                    index=['Agus','Budi','Chandra','Deni','Eko','Fitria','Gusti','Hendra','Intan','Jayadi'])
table.head()

         Usia Pekerjaan    Asal    Member    Status
Agus       27     Aktor  Blok C      Gold  Diterima
Budi       28     Aktor  Blok D      Gold  Diterima
Chandra    29  Penyanyi  Blok A      Gold  Diterima
Deni       29    Penari  Blok D  Platinum  Diterima
Eko        22     Aktor  Blok A      Gold  Diterima

In [6]:
type(table)

pandas.core.frame.DataFrame

* Jika kita ingin menyimpan data tersebut dalam csv maka kita bisa lakukan dengan:

In [4]:
table.to_csv('filetest.csv')

* Sebagai bukti file tersebut telah ada kita coba untuk import kembali file tersebut

In [5]:
test = pd.read_csv('filetest.csv')
test

  Unnamed: 0  Usia Pekerjaan    Asal    Member    Status
0       Agus    27     Aktor  Blok C      Gold  Diterima
1       Budi    28     Aktor  Blok D      Gold  Diterima
2    Chandra    29  Penyanyi  Blok A      Gold  Diterima
3       Deni    29    Penari  Blok D  Platinum  Diterima
4        Eko    22     Aktor  Blok A      Gold  Diterima
5     Fitria    25    Aktris  Blok B    Silver   Ditolak
6      Gusti    25  Penyanyi  Blok C      Gold  Diterima
7     Hendra    27  Penyanyi  Blok C      Gold  Diterima
8      Intan    26    Aktris  Blok A    Silver  Diterima
9     Jayadi    30     Aktor  Blok C      Gold   Ditolak

### Customizing file writing

* Kita juga bisa mendefinisikan separator pada file yang akan ditulis

In [ ]:
table.to_csv('filetest.csv', sep=';')

* Sehingga file yang ditulis akan terlihat seperti:

<img src="https://drive.google.com/uc?export=view&id=13Tty3_taYIPSf4cDMAOYwzCpjUhJV3H9" alt="Drawing" width= 500px;/>

<small>[Source](https://drive.google.com/file/d/13Tty3_taYIPSf4cDMAOYwzCpjUhJV3H9/view?usp=sharing)</small>

* Namun, ketika import data kita juga harus mendefinisikan separator yang sama

In [ ]:
test = pd.read_csv('filetest.csv', sep=';')
test

* Contoh lainnya, misal kita tidak ingin menuliskan header kedalam file.
* Maka kita bisa set `header = False`

In [ ]:
table.to_csv('filetest.csv', header=False)

* Sehingga file yang ditulis akan terlihat seperti:

<img src="https://drive.google.com/uc?export=view&id=1FtfmV3ev5GWLNMni_woO2LFjz1RMexyT" alt="Drawing" width= 500px;/>

<small>[Source](https://drive.google.com/file/d/1FtfmV3ev5GWLNMni_woO2LFjz1RMexyT/view?usp=sharing)</small>

* Untuk detail dari argumen yang bisa dimasukkan silakan klik [disini](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#writing-out-data)

## Excel

* Sama seperti `CSV`, kita juga dapat menulis data dari Pandas ke format MS Excel
* Argumen function yang dibutuhkan sebagian besar mirip dengan `to_csv`.
* Hanya saja untuk menulis dengan `to_excel` kita dapat menspesifikasi sheet dalam MS Excel.

In [ ]:
table = pd.DataFrame({'Usia':[27,28,29,29,22,25,25,27,26,30],
                     'Pekerjaan':['Aktor','Aktor','Penyanyi','Penari','Aktor','Aktris','Penyanyi','Penyanyi','Aktris','Aktor'],
                     'Asal':['Blok C','Blok D','Blok A','Blok D','Blok A','Blok B','Blok C','Blok C','Blok A','Blok C'],
                     'Member':['Gold','Gold','Gold','Platinum','Gold','Silver','Gold','Gold','Silver','Gold'],
                     'Status':['Diterima','Diterima','Diterima','Diterima','Diterima','Ditolak','Diterima','Diterima','Diterima','Ditolak']},
                    index=['Agus','Budi','Chandra','Deni','Eko','Fitria','Gusti','Hendra','Intan','Jayadi'])
table.head()

Export excel standard

In [ ]:
table.to_excel('filetest.xlsx')

<img src="https://drive.google.com/uc?export=view&id=15qsqUbwPl4zoK5G4297GasVlTbSwq8Nf" alt="Drawing" width= 500px;/>

<small>[Source](https://drive.google.com/file/d/15qsqUbwPl4zoK5G4297GasVlTbSwq8Nf/view?usp=sharing)</small>

* Atau kita dapat menspesifikasi nama sheet

In [ ]:
table.to_excel('filetest.xlsx', sheet_name='customer')

<img src="https://drive.google.com/uc?export=view&id=1rNtKYXaH246TQM2O4xuheSHULah9hqBX" alt="Drawing" width= 500px;/>

<small>[Source](https://drive.google.com/file/d/1rNtKYXaH246TQM2O4xuheSHULah9hqBX/view?usp=sharing)</small>

* Kita juga dapat membuat beberapa sheet sekaligus.
* Misal, ada data tambahan

In [ ]:
table2 = pd.DataFrame({'Usia':[25,30,39,59,42,35,25,47,56,20],
                     'Pekerjaan':['Aktor','Aktor','Penyanyi','Penari','Aktor','Aktris','Penyanyi','Penyanyi','Aktris','Aktor'],
                     'Asal':['Blok C','Blok D','Blok A','Blok D','Blok A','Blok B','Blok C','Blok C','Blok A','Blok C'],
                     'Member':['Gold','Gold','Gold','Platinum','Gold','Silver','Gold','Gold','Silver','Gold'],
                     'Status':['Diterima','Diterima','Diterima','Diterima','Diterima','Ditolak','Diterima','Diterima','Diterima','Ditolak']},
                    index=['Joni','Jono','Bambang','Joko','Eko','Fitri','Ayu','Hendro','Ica','Jaya'])
table2.head()

In [ ]:
with pd.ExcelWriter('filetest.xlsx') as writer:
    table.to_excel(writer, sheet_name='customer1')
    table2.to_excel(writer, sheet_name='customer2')

<img src="https://drive.google.com/uc?export=view&id=1LlKXnPzrnnVSsUeIpr86tjM4BCIuBp8A" alt="Drawing" width= 500px;/>

<small>[Source](https://drive.google.com/file/d/1LlKXnPzrnnVSsUeIpr86tjM4BCIuBp8A/view?usp=sharing)</small>